.login_page{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  left: 0;
}


.login{
  height: 80%;
  width: 70%;
  background-color: #ffffff;

  border-radius: 20px;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.login_form{
  height: 100%;
  width: 45%;
  padding: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.login_form form{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.login_form form h1{
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.login_form .container{
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 40px;
}

.login_form .container>div{
  display: block;
  height: 40px
}

.login_form .container>div input{
  border: 10px solid;
  border-image-slice: 1;
  border-width: 5px;
  border-image-source: var(--yello-grad);
  margin-top: 5px;
}

.login_form .container button{
  background: var(--violet-grad);
  padding: 12px;
  border-radius: 10px;
  color: #ffffff;
  margin-top: 20px;
}

.banner{
  height: 100%;
  width: 55%;
  background-color: aqua;
}